  .Apropos {

    .about {
      padding: 0 20px 180px 20px;
      justify-content: center;
      color: $main-color;


      @media (max-width: 800px) {
        padding-bottom: 170px;
      }

      .collapse {
        width: 90%;
        margin: auto;

        @media (max-width: 800px) {
          width: initial;
          padding: 0;
          margin: 0;

          p {
            font-size: 13px;
            font-weight: 700;
          }

          &:last-child {
            margin-bottom: 19px;
          }
        }
      }

      .container-collapse {
        margin-bottom: 25px;

        @media (max-width : 800px) {
          margin-bottom: 10px;

        }
      }

    }

    p {
      font-size: 24px;
    }

  }