.container_banner_home{
    margin-top: 50px;
    height: 223px;
    border-radius: 25px;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('../assets/fond2.jpg');
    background-size: cover;
    background-position: center;
    
    p{
        font-size: 48px;
        color: $white;
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }
}

.container_banner_about{
    margin-top: 50px;
    height: 223px;
    border-radius: 25px;
    overflow: hidden;
    background-image: url('../assets/fond1.jpg');
    background-size: cover;
    background-position: center;
}
