body {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: $main-font;
    margin: auto;
    align-items: center;
    width: 100%;

    #root {
        min-height: 100vh;
        max-width: 1240px;
        width: 100%;
    }

}