header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    nav{
        display: flex;
        gap: 57px;
    
        a{
            color: $main-color;
            font-size: 24px;
            
            &.active{
                text-decoration: underline;
            }
        }
        
    }
}