header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    nav {
        display: flex;
        gap: 57px;

        a {
            color: $main-color;
            font-size: 24px;

            &.active {
                text-decoration: underline;
            }
        }

    }

    @media (max-width : 800px) {
        justify-content: space-around;

        img {
            width: 145px;
        }

        nav {
            gap: 30px;

            a {
                font-size: 20px;
            }
        }
    }
}